.container{
    max-width: 500px;
    margin: 2rem auto;

    div{
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid white;
            padding: 0.5rem;
            margin: 0.5rem;

            svg{
                font-size: 1.2rem;
            }

            &:hover{
                color: black;
                background-color: white;

                svg{
                    color: black;
                }
            }
        }
    }
}